<div>
    <h2>{{vm.artefactos[0].version.aplicacion.nombre}} {{vm.artefactos[0].version.versionapp}}</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="artefacto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear nuevo Artefacto
                    </span>
                </button>
            </div>
              <div class="col-xs-4 ">
                <button class="btn btn-primary" ui-sref="version.newVersion({id:vm.artefactos[0].version.id})" >
                                <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear nueva Version
                    </span>
                </button>
            </div>
            <div class="col-xs-4 ">
                <button class="btn btn-primary" ng-click="comprobarVarios({id:vm.artefactos[0].version.id})">
                                <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Comprobar Version
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
      <label class="control-label" for="lg">Buscar:</label>
        <input type="text" class="form-control" ng-model="busqueda">
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span><span ng-click="columna='id'; revers = !revers;" class="glyphicon glyphicon-sort"></span></span></th>
                    <th jh-sort-by="nombre"><span>Nombre</span><span ng-click="columna='nombre'; revers = !revers;" class="glyphicon glyphicon-sort"></span> </th>
                    <th jh-sort-by="versiona"><span>Version</span><span ng-click="columna='versiona'; revers = !revers;" class="glyphicon glyphicon-sort"></span> </th>
                    <th jh-sort-by="repositorio"><span>Repositorio</span><span ng-click="columna='repositorio'; revers = !revers;" class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comprobado"><span>Comprobado</span><span ng-click="columna='comprobado'; revers = !revers;" class="glyphicon glyphicon-sort"></span> </th>
                    <th jh-sort-by="existe"><span>Existe</span><span ng-click="columna='existe'; revers = !revers;" class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="grupo"><span>Grupo</span><span ng-click="columna='grupo'; revers = !revers;" class="glyphicon glyphicon-sort"></span> </th>
					 <th jh-sort-by="version.versiona"><span>Aplicacion</span></th>
                    <th jh-sort-by="version.versiona"><span>Version</span></th>
					
                    <th></th>
                </tr>
            </thead>

            <style type="text/css">
.red {
    background-color: #F0D8D8; 
}

.black {
    background-color: #ECF6CE;
}
</style>

            <tbody>
                <tr ng-repeat="artefacto in vm.artefactos | filter:busqueda  | orderBy:columna:revers ">
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'><a ui-sref="artefacto-detail({id:artefacto.id})">{{artefacto.id}}</a></td>
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'>{{artefacto.nombre}}</td>
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'>{{artefacto.versiona}}</td>
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'>{{artefacto.repositorio}}</td>
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'><input type="checkbox"  ng-model="artefacto.comprobado" disabled></td>
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'><input  type="checkbox"  ng-model="artefacto.existe" disabled></td>
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'>{{artefacto.grupo}}</td>
					<td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'>
                        <a ui-sref="aplicacion-detail({id:artefacto.version.aplicacion.id})">{{artefacto.version.aplicacion.nombre}}</a>
                    </td>
                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}'>
                        <a ui-sref="version-detail({id:artefacto.version.id})">{{artefacto.version.versionapp}}</a>
                    </td>

                    <td ng-class='{red : artefacto.existe==false, black: artefacto.existe}' class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="artefacto-detail({id:artefacto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="artefacto.edit({id:artefacto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="artefacto.delete({id:artefacto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                              <button 
   ng-click="comprobarUno({id:artefacto.id})"
   class="btn btn-success btn-sm">
   <span class="glyphicon glyphicon glyphicon-ok"></span>
   <span class="hidden-xs hidden-sm"></span>
   </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
